@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/* font-family: 'Fraunces', serif; */

:root {
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);

/* graphic design text */
--dark-desaturated-cyan: hsl(167, 40%, 24%);
/* photography text */
--dark-blue: hsl(198, 62%, 26%);
/* footer */
--dark-moderate-cyan: hsl(168, 34%, 41%);

--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    height: 100vh;
    font-size: 18px;
}

header {
    height: 800px;
    background: url(./images/desktop/image-header.jpg) no-repeat center / cover;
}

nav {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar_menu li {
    padding-left: 45px;
}

.navbar_menu li a {
    text-decoration: none;
}

.menu_item {
    color: var(--white);
    font-family: 'Barlow', sans-serif;
}

.menu_btn {
    padding: 18px 30px;
    background-color: var(--white);
    border-radius: 35px;
    color: black;
    font-family: 'Fraunces', serif;
}

.header_title {
    text-align: center;
    margin: 70px 0;
}

.header_title h1 {
    color: var(--white);
    font-family: 'Fraunces', sans-serif;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0 0 110px 0;
}

.main_contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.c_item {
    /* margin: 8.5em 7.5em; */
    margin: 4em 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.c_item h1 {
    font-family: 'Fraunces';
    font-size: 2.5em;
    font-weight: 900;
    margin: 0;
}

.c_item p {
    margin: 0;
    font-family: 'Barlow';
    font-size: 1em;
    line-height: 1.5em;
    color: var(--dark-grayish-blue);
}

.c_item a{
    font-family: 'Fraunces';
    font-size: 1em;
}

.y_item {
    height: 600px;
    background: url(./images/desktop/image-transform.jpg) no-repeat center / cover;
}

.p_item {
    height: 600px;
    background: url(./images/desktop/image-stand-out.jpg) no-repeat center / cover;
}

.m_item {
    height: 600px;
    background: url(./images/desktop/image-graphic-design.jpg) no-repeat center / cover;
}

.s_item {
    height: 600px;
    background: url(./images/desktop/image-photography.jpg) no-repeat center / cover;
}

.t_item {
    height: 500px;
    text-align: center;
    padding: 2.5em 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.t_item h1 {
    margin: 1rem;
    font-size: 1.5em;
    font-family: 'Fraunces';
}

.t_item p {
    font-size: 1em;
    font-family: 'Barlow';
    line-height: 1.5em;
}