@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

.main {
  width: 57.5rem;
  margin: 0;
  border-radius: 1rem;
  background-color: white;
  background-image: url(./images/illustration-woman-online-desktop.svg),
    url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: left -5rem top 3.5rem, left -36rem top -19.5rem;
  box-shadow: 2px 20px 15px 2px hsl(252deg 43% 46%);
}

.img {
  position: absolute;
  content: url(./images/illustration-box-desktop.svg);
  transform: translate(-92px, 192px);
  filter: drop-shadow(2px 4px 6px hsl(252deg 43% 35%));
}

.content {
  margin-left: 50%;
}

.content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
}

.drop-down {
  width: 81%;
  margin: 2rem 0 5rem 0;
  box-sizing: border-box;
}

.drop-title {
  margin: 1rem 0;
  font-size: 14px;
}

.drop-title:hover {
  color: hsl(14, 88%, 65%);
}

.a-btn {
  margin-top: 0.4rem;
  float: right;
  margin-right: 0.5rem;
  transform: rotate(0deg);
}

.drop-content {
  margin: 0.7rem 0.6rem 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2rem;
  color: hsl(240, 6%, 50%);
}

.close {
  display: none;
}

.open {
  display: block;
}

hr {
  /* background-color: hsl(240, 5%, 91%); */
  border-top: 1px solid hsl(240, 5%, 91%);
  border-bottom: 0px;
  border-left: 0px;
}

@media screen and (max-width: 800px) {
  .main {
    width: 21rem;
    border-radius: 1.5rem;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img {
    position: absolute;
    content: url(./images/illustration-woman-online-mobile.svg);
    transform: translate(-15px, -109px);
    filter: none;
  }

  .content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  .content h1 {
    margin-top: 8rem;
  }

  .drop-down {
    width: 18.5rem;
    margin: 1rem 0 3rem 0;
  }

  .a-btn {
    margin-right: auto;
  }

  .drop-content {
    margin: 0.7rem 1.5rem 0 0;
  }
}
