@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  margin: 0;
  height: 100vh;
  background: var(--pale-blue) url(./images/pattern-background-desktop.svg) no-repeat;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 450px;
  height: 620px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 20px 15px 1px hsl(225deg 74% 88%);
}

article {
  height: 100%;
  justify-content: space-between;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
}

.m-title {
  text-align: center;
  font-size: 28px;
  color: var(--dark-blue);
  margin: 0;
}

.m-paragraph {
  margin: 0;
  text-align: center;
  color: var(--desaturated-blue);
  line-height: 1.5rem;
}

.g-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  height: 90px;
  background-color: var(--very-pale-blue);
  border-radius: 10px;
}

.g-center {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: baseline;
}

.g-title {
  font-weight: 900;
  font-size: medium;
  color: var(--dark-blue);
}

.g-sub {
  color: var(--desaturated-blue);
  font-size: small;
}

.g-a {
  font-weight: 700;
  font-size: small;
  color: var(--bright-blue);
}

.m-button {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  border: none;
  height: 45px;
  border-radius: 10px;
  font-weight: 700;
  font-size: smaller;
  box-shadow: 1px 10px 20px 1px hsl(245deg 75% 52% / 30%);
}

.m-a {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: small;
  color: var(--desaturated-blue);
}

@media (max-width: 375px) {
  body {
    background-color: var(--pale-blue);
    background-image: none;
  }

  .main-container {
    width: 330px;
    height: 527px;
  }

  article {
    padding: 23px 27px;
  }

  .m-title {
    font-size: none;
  }

  .g-section {
    height: 80px;
  }

  .m-button {
    height: 52px;
  }
}